{% extends "account/settings.html" %}

{% load url from future %}
{% load i18n %}
{% load bootstrap %}

{% block body_class %}account account-password{% endblock %}

{% block head_title %}{% trans "Change password" %}{% endblock %}

{% block body %}
    <div class="row">

          <div class="col-md-3 columns">
                    
        <div class="panel panel-default">
            <div class="panel-heading"><strong>Settings</strong></div>
            <div class="list-group">
                <a class="list-group-item account-settings" href="/account/settings/">Account</a>
                <a class="list-group-item account-password" href="/account/password/">Change Password</a>
                <a class="list-group-item account-delete" href="/account/delete/">Delete Account</a>
            </div>
        </div>

        </div>

        <div class="col-md-5">
            <form method="POST" action="">
                <legend>{% trans "Change password" %}</legend>
                <fieldset>
                    {% csrf_token %}
                    {{ form|bootstrap }}
                    <button type="submit" class="btn btn-primary">{% trans "Save" %}</button>
                </fieldset>
            </form>
        </div>
    </div>
{% endblock %}