{%extends "classifieds/base.html"%}
{%load static%}
{%load bootstrap%}
<html>
    <head>
        <title>{%block title %}SJSU Post {%endblock%}</title>
        <link href = "{%static 'css/bootstrap.css'%}" rel="stylesheet"></link>

    </head>
    
    <body>
        {%block nav%} 
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            
          </button>
          <a class="navbar-brand" href="/classifieds">SJSU Post</a>

        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <form class="navbar-form navbar-left" role="search" action="/search/?q=">
            <div class="form-group">
                
              <input type="text" name ="q" id= "id_q" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-primary btn-sm">Find it!</button>
            <a href="/classifieds/add_listing"><button type="button" class="btn btn-sm btn-success">Add a Listing</button></a>
          </form>

          <p class="navbar-text navbar-right" style="
    display: inline-table;">{%if user.is_active%}Hello, <a href="/account/settings" class="navbar-link">{{user.username}}</a><a href="/messages" class="navbar-link"><span class="glyphicon glyphicon-envelope"></span></a>  <a href="/account/logout" class="navbar-link">Log out</a>{%else%} <a href="/account/login" class="navbar-link">Login</a> or <a href="/account/signup"> Sign Up</a>{%endif%} </p>
        </div>
      </div>

    </nav>
    {%endblock%}
        {%block body%}

        <form id="category_form" method="post" action="/classifieds/add_listing/" enctype="multipart/form-data" style="width:300px;margin:0 auto;">

            {% csrf_token %}
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            {% for field in form.visible_fields %}
                {{ field.errors }}
                {{ field.help_text }}
                {{ field|bootstrap}}
            {% endfor %}

            <input type="submit" class="btn btn-primary" name="submit" value="Create Listing!" />
        </form>
        {%endblock%}

        {%block footer%}
            <div class="footer">
                <div class="container">
                        <p class="text-muted">Created with &hearts; by Henry Spivey</p>
                </div>
            </div>
        {%endblock%}
    </body>
    
</html>