{%extends "classifieds/base.html"%}
    
    {%block title%}SJSU Post{%endblock%}

    {%block nav%}
        <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            
          </button>
          <a class="navbar-brand" href="/classifieds">SJSU Post</a>

        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-primary btn-sm">Find it!</button>
            <a href="/classifieds/add_listing"><button type="button" class="btn btn-sm btn-success">Add a Listing</button></a>
          </form>

          <p class="navbar-text navbar-right" style="
    display: inline-table;">{%if user.is_active%}Hello, <a href="/account/settings" class="navbar-link">{{user.username}}</a><a href="/messages" class="navbar-link"><span class="glyphicon glyphicon-envelope"></span></a>  <a href="/account/logout" class="navbar-link">Log out</a>{%else%} <a href="/account/login" class="navbar-link">Login</a> or <a href="/account/signup"> Sign Up</a>{%endif%} </p>
        </div>
      </div>

    </nav>

    {%endblock%}

    {%block body%}
        <h1 >{{ category_name }}</h1>
        {% if category %}
            {% if listings %}
            <div class="row">
            <ul >
                {% for listing in listings %}
                <div class="col-xs-6 col-sm-4">
                <li style="list-style:none;">
                    <a href="/classifieds/category/{{category_name}}/{{listing.title}}" style="hover:none;">
                        <div class="panel panel-info">
                            <div class="panel-heading" style="text-align:center;">{{listing.title}}</div>
                                <div class="panel-body">
                                     {{listing.title}}
                                </div>
                        </div>
                    </a>

                </li>
                </div>   

                {% endfor %}
                </div>
            </ul>
            {% else %}
                <strong>No ads currently in {{category_name}}.</strong>
            {% endif %}
        {% else %}
            The specified category {{ category_name }} does not exist!
        {% endif %}
    {%endblock%}

    {%block footer%}
    <div class="footer">
        <div class="container">
                <p class="text-muted">Created with &hearts; by Henry Spivey</p>
        </div>
    </div>
    {%endblock%}




