{%extends "classifieds/base.html"%}
{%load static%}
<head>

	<title>{%block title%}SJSU Post{%endblock%}</title>
	<link href = "{%static 'js/holder.js'%}" ></link>
</head>

<body>

	{%block nav%} 
	<nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
            
          </button>
          <a class="navbar-brand" href="/classifieds/">SJSU Post</a>

        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-2">
          <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Search">
            </div>
            <button type="submit" class="btn btn-primary btn-sm">Find it!</button>
            {% if user.is_active%}
            <a href="/classifieds/add_listing"><button type="button" class="btn btn-sm btn-success">Add a Listing</button></a>
            {%endif%}
          </form>

          <p class="navbar-text navbar-right">{%if user.is_active%}Signed in as <a href="/account/settings" class="navbar-link">{{user.username}}</a><a href="/account/logout">Log out</a>{%else%} <a href="/account/login" class="navbar-link">Login</a> or <a href="/account/signup"> Sign Up</a>{%endif%} </p>
        </div>
      </div>

    </nav>
	{%endblock%}

	{%block body%}

        <br />
        <ul>
	        <div class="row">
	        	 <div class="col-md-4">
			         <li style="list-style:none;">
			         	<div class="books"><br>Books</div>  
			         </li>
			     </div>

			     <div class="col-md-4">
			         <li style="list-style:none;">
			         	<div class="electronics"><br>Electronics</div>  
			         </li>
			     </div>

			     <div class="col-md-4">
			         <li style="list-style:none;">
			         	<div class="haus"><br>Housing & Furniture</div>  
			         </li>
			     </div>

			     <div class="col-md-4">
			         <li style="list-style:none;">
			         	<div class="jobs"><br>Jobs</div>  
			         </li>
			     </div>

			     <div class="col-md-4">

			         <li style="list-style:none;">
			         	<div class="other"><br>Other</div>  
			         </li>
			     </div>

			     <div class="col-md-4">
			          <li style="list-style:none;">
			         	<div class="events"><br>Events</div>  
			         </li>
			     </div>
		 
 

	        
	    </ul>
	    
	        

	{%endblock%}

{%block footer%}
<div class="footer">
	<div class="container">
	        <p class="text-muted">Created with &hearts; by Henry Spivey. Suggestions, questions, comments or concerns? <a href="/contact">Click Here!</a></p>
	        
	</div>
</div>


{%endblock%}
</body>

</html>

